<% layout("./layouts/boilerplate") %>
  <div class="row mt-2">
    <div class="col-8 offset-3">
    <h3><%= listing.title %></h3>
    </div>
    
    <div class="card col-6 offset-3 show-card" >
        <img 
          src="<%= listing.image %>" 
          class="card-img-top show-img" 
          alt="listing-image">
        <div class="card-body">
          <p class="card-text">
          <p><%= listing.description %></p>
          <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
          <p><%= listing.location %></p>
          <p><%= listing.country %></p>
          </p>
          <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn  ">edit </a><br>
            <form method="post" action="/listings/<%= listing._id %>?_method=delete">
              <button class="btn btn-dark offset-1 ">delete </button>
            </form>
          </div>
        </div>
      </div>
          <div class="col-8 offset-3 mb-3">
            <hr/>
            <h4>leave your review</h4>
            <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation" >
              <div class="mb-3 mt-3">
                <label for="rating" class="form-lebel">Rating</label>
                <input type="range" id="rating " name="review[rating]" class="form-range" min="0" max="5">
                <div class="range1 " >
                  <h5>0</h5><h5>1</h5><h5>2</h5><h5>3</h5><h5>4</h5><h5>5</h5>
                </div>
              </div>

              <div class="mb-3 mt-3"> 
                <label for="comments" class="form-lebel">Comment</label>
                <textarea name="review[comment]" id="comment" placeholder="write your comment" rows="5" cols="30" no class="form-control " required ></textarea>
                <div class="invalid-feedback">please add some comments</div>
                <div class="valid-feedback">Thank You</div>

              </div>
              
              <button class="btn btn-outline-dark ">submit</button>
            </form>
          </div>
        
  </div>
